<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>地址列表页面</title>
<link rel="icon" href="back/images/favicon.ico" type="image/ico">


<meta name="author" content="yinqi">
<link href="back/css/bootstrap.min.css" rel="stylesheet">
<link href="back/css/materialdesignicons.min.css" rel="stylesheet">
<link href="back/css/style.css" rel="stylesheet">
</head>
  
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <div th:replace="commons/bar::leftbar"></div>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    <div th:replace="commons/bar::topbar"></div>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
              </div>
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>订单编号</th>
                        <th>创建时间</th>
                        <th>用户</th>
                        <th>地址</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="order:${orders}">
                        <td th:text="${order.id}"></td>
                        <td th:text="${order.orderNum}"></td>
                        <td th:text="${#dates.format(order.createDate,'yyyy-MM-dd')}"></td>
                        <td th:text="${order.userId}"></td>
                        <td th:text="${order.addressId}"></td>
                        <td th:text="${order.orderStatus}"></td>
                        <td>
                          <button class="btn btn-sm btn-danger deleteBtn" th:attr="del_uri=@{/manageOrders/}+${order.id}">删除</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <form id="deleteOrderForm" method="post">
      <input type="hidden" name="_method" value="delete"/>
    </form>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="back/js/jquery.min.js" ></script>
<script type="text/javascript" src="back/js/bootstrap.min.js"></script>
<script type="text/javascript" src="back/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="back/js/main.js"></script>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});
</script>
<script>
  $(".deleteBtn").click(function () {
    //删除当前订单
    $("#deleteOrderForm").attr("action",$(this).attr("del_uri")).submit();
    return false;
  });
</script>
</body>
</html>