<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>服装添加页面</title>
<link rel="icon" href="/back/images/favicon.ico" type="image/ico">


<meta name="author" content="yinqi">
<link href="/back/css/bootstrap.min.css" rel="stylesheet">
<link href="/back/css/materialdesignicons.min.css" rel="stylesheet">
<link href="/back/css/style.css" rel="stylesheet">
</head>
  
<body data-logobg="color_8" data-sidebarbg="color_8">
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <div th:replace="commons/bar::leftbar"></div>
    <!--End 左侧导航-->
    
    <!--头部信息-->
    <div th:replace="commons/bar::topbar"></div>
    <!--End 头部信息-->
    
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        <!--需要区分是员工修改还是员工添加-->
        <form th:action="@{/manageAddClothes}" method="post">
          <!--发送put请求，修改员工数据-->
          <!--1、springMvc配置hiddenHttpmethodfilter-
              2、页面创建一个post表单
              3、创建一个input项，name=_method-->
          <input type="hidden" name="_method" value="put" th:if="${clothes!=null}"/>
          <input type="hidden" name="id" th:if="${clothes!=null}" th:value="${clothes.id}">
          <div class="form-group">
            <label>服装名称</label>
            <input type="text" name="name" class="form-control"  th:value="${clothes!=null}?${clothes.name}">
          </div>
          <div class="form-group">
            <label>颜色</label>
            <input type="text" name="color" class="form-control" th:value="${clothes!=null}?${clothes.color}">
          </div>
          <div class="form-group">
            <label>大小</label>
            <input type="text" name="size" class="form-control" th:value="${clothes!=null}?${clothes.size}">
          </div>
          <div class="form-group">
            <label>加入时间</label>
            <input type="text" name="addTime" class="form-control" th:value="${clothes!=null}?${#dates.format(clothes.addTime,'yyyy-MM-dd')}">
          </div>
          <div class="form-group">
            <label>数量</label>
            <input type="number" name="number" class="form-control" th:value="${clothes!=null}?${clothes.number}">
          </div>
          <div class="form-group">
            <label>价格</label>
            <input type="number" name="newPrice" class="form-control" th:value="${clothes!=null}?${clothes.newPrice}">
          </div>
          <div class="form-group">
            <label>种类</label>
            <input type="text" name="category" class="form-control" th:value="${clothes!=null}?${clothes.category}">
          </div>
          <div class="form-group">
            <label>图片链接</label>
            <input type="text" name="imgUrl" class="form-control" th:value="${clothes!=null}?${clothes.imgUrl}">
          </div>

            <button class="btn btn-primary" type="submit" th:text="${clothes!=null}?'修改':'添加'">添加</button>
        </form>

        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="/back/js/jquery.min.js" ></script>
<script type="text/javascript" src="/back/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/back/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="/back/js/main.js" ></script>
<script type="text/javascript">
$(function(){
    $('.search-bar .dropdown-menu a').click(function() {
        var field = $(this).data('field') || '';
        $('#search-field').val(field);
        $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
    });
});
</script>
</body>
</html>