<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer" th:fragment="downfooter">
    <div class="footer-tags">
        <div class="tags-box inner">
            <div class="tag-div">
                <img src="images/icons/footer_1.gif" th:src="@{/images/icons/footer_1.gif}" alt="厂家直供">
            </div>
            <div class="tag-div">
                <img src="images/icons/footer_2.gif" th:src="@{/images/icons/footer_2.gif}" alt="一件代发">
            </div>
            <div class="tag-div">
                <img src="images/icons/footer_3.gif" th:src="@{/images/icons/footer_3.gif}" alt="美工活动支持">
            </div>
            <div class="tag-div">
                <img src="images/icons/footer_4.gif" th:src="@{/images/icons/footer_4.gif}" alt="信誉认证">
            </div>
        </div>
    </div>
</div>
</body>
</html>