<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 右侧菜单 -->
<div class="right-nav" th:fragment="rightdown">
    <ul class="r-with-gotop">
        <li class="r-toolbar-item" th:if="${session.user != null}">
            <a href="udai_shopcart.html" th:href="@{/cartList}" class="r-item-hd">
                <i class="iconfont icon-cart"></i>
                <div class="r-tip__box"><span class="r-tip-text">购物车</span></div>
            </a>
        </li>
        <li class="r-toolbar-item" th:if="${session.user != null}">
            <a href="issues.html" th:href="@{/orderList}" class="r-item-hd">
                <i class="iconfont icon-liuyan"></i>
                <div class="r-tip__box"><span class="r-tip-text">订单列表</span></div>
            </a>
        </li>
        <li class="r-toolbar-item to-top">
            <i class="iconfont icon-top"></i>
            <div class="r-tip__box"><span class="r-tip-text">返回顶部</span></div>
        </li>
    </ul>
    <script>
        $(document).ready(function(){ $('.to-top').toTop({position:false}) });
    </script>
</div>
</body>
</html>