<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 顶部tab -->
<div class="tab-header" th:fragment="toptab">
    <div class="inner">
        <div class="pull-left">
            <div class="pull-left">嗨，欢迎来到<span class="cr">服装销售系统</span></div>
        </div>
        <div class="pull-right">
            <a href="#" th:href="@{/user/login}" th:if="${session.user == null}"><span class="cr">用户登录</span></a>
            <!--<a href="login.html?p=register">注册</a>-->
            <a href="index.html" th:if="${session.user != null}" th:href="@{/user/logout}">安全退出</a>
            <a href="udai_welcome.html" th:href="@{/toAddress}" th:if="${session.user != null}">我的地址</a>
            <a href="udai_order.html" th:if="${session.user != null}" th:href="@{/orderList}">我的订单</a>
            <a href="#" th:href="@{/superLogin}" th:if="${session.user == null}">管理员登陆</a>
            <a href="#" th:href="@{/user/toSetUser/}+${session.user.id}" th:if="${session.user != null}">用户设置</a>
        </div>
    </div>
</div>
</body>
</html>