<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="images/favicon.ico" th:href="@{/images/favicon.ico}">
	<link rel="stylesheet" href="css/iconfont.css" th:href="@{/css/iconfont.css}">
	<link rel="stylesheet" href="css/global.css" th:href="@{/css/global.css}">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}">
	<link rel="stylesheet" href="css/swiper.min.css" th:href="@{/css/swiper.min.css}">
	<link rel="stylesheet" href="css/styles.css" th:href="@{/css/styles.css}">
	<script src="js/jquery.1.12.4.min.js" th:src="@{/js/jquery.1.12.4.min.js}" charset="UTF-8"></script>
	<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" charset="UTF-8"></script>
	<script src="js/swiper.min.js" th:src="@{/js/swiper.min.js}" charset="UTF-8"></script>
	<script src="js/global.js" th:src="@{/js/global.js}" charset="UTF-8"></script>
	<script src="js/jquery.DJMask.2.1.1.js" th:src="@{/js/jquery.DJMask.2.1.1.js}" charset="UTF-8"></script>
	<title>服装销售系统</title>
</head>
<body>
	<!-- 顶部tab -->
	<div th:replace="commons/toptab::toptab"></div>
	<!-- 内页导航栏 -->
	<div class="top-nav bg3">
		<div class="nav-box inner">
			<ul class="nva-list">
				<a href="javascript:void(0)" th:href="@{/index}"><li class="active">首页</li></a>
				<a href="#" th:href="@{/clothesList(category=1)}"><li>男装</li></a>
				<a href="#" th:href="@{/clothesList(category=2)}"><li>女装</li></a>
				<a href="#" th:href="@{/user/login}" th:if="${session.user == null}"><li>用户登录</li></a>
				<a href="#" th:href="@{/superLogin}" th:if="${session.user == null}"><li>管理员登陆</li></a>
				<a href="#" th:href="@{/cartList}" th:if="${session.user != null}"><li>我的购物车</li></a>
				<a href="#" th:if="${session.user != null}" th:href="@{/orderList}"><li>我的订单</li></a>
			</ul>
		</div>
	</div>
	<div class="content inner">
		<section class="filter-section clearfix">
			<ol class="breadcrumb">
				<li><a href="javascript:void(0)" th:href="@{/index}">首页</a></li>
				<li class="active" th:text="${category}==1 ?'男装':'女装'">男装</li>
			</ol>
		</section>
		<section class="item-show__div clearfix">
			<div class="pull-left">
				<!--数据展示-->
				<div id="clothesList"></div>
			</div>
			<div class="pull-right">

			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
	<div th:replace="commons/rightdown::rightdown"></div>
	<!-- 底部信息 -->
	<div th:replace="commons/downfooter::downfooter"></div>
	<script th:inline="javascript">
		//获取应用路径
		var contextPath = [[${#request.getContextPath()}]];
		var category = [[${category}]];
	</script>
	<script>
		$(function () {
			$("#clothesList").load(contextPath + "/getClothesListData",queryData(1,category))
		})
		function queryData(page,category) {
			var query = {};
			query.category = category;
			query.page = page;
			return query;

		}
		function loadData(page,category) {
			$("#clothesList").load(contextPath + "/getClothesListData",queryData(page,category))

		}
	</script>
</body>
</html>