<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<title>服装数据页面</title>
</head>
<bady>
	<div class="right-box">
		<a href="item_show.html" th:href="@{/detail(id=${cloth.id})}" class="floor-item" th:each="cloth:${clothesList}">
			<div class="item-img hot-img">
				<img src="images/temp/S-001.jpg" th:src="@{/static/}+${cloth.imgUrl}" alt="纯色圆领短袖T恤活a动衫弹" class="cover">
			</div>
			<div class="price clearfix">
				<span class="pull-left cr fz16" th:text="${cloth.newPrice}">￥18.0</span>
				<span class="pull-right c6" >进货价</span>
			</div>
			<div class="name ep" title="纯色圆领短袖T恤活a动衫弹力柔软" th:text="${cloth.name}">纯色圆领短袖T恤活a动衫弹力柔软</div>
		</a>
	</div>
</bady>
</html>
