<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="images/favicon.ico" th:href="@{/images/favicon.ico}">
	<link rel="stylesheet" href="css/iconfont.css" th:href="@{/css/iconfont.css}">
	<link rel="stylesheet" href="css/global.css" th:href="@{/css/global.css}">
	<link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}">
	<link rel="stylesheet" href="css/swiper.min.css" th:href="@{/css/swiper.min.css}">
	<link rel="stylesheet" href="css/styles.css" th:href="@{/css/styles.css}">
	<script src="js/jquery.1.12.4.min.js" th:src="@{/js/jquery.1.12.4.min.js}" charset="UTF-8"></script>
	<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}" charset="UTF-8"></script>
	<script src="js/swiper.min.js" th:src="@{/js/swiper.min.js}" charset="UTF-8"></script>
	<script src="js/global.js" th:src="@{/js/global.js}" charset="UTF-8"></script>
	<script src="js/jquery.DJMask.2.1.1.js" th:src="@{/js/jquery.DJMask.2.1.1.js}" charset="UTF-8"></script>
	<title>服装销售系统</title>
</head>
<body>
	<!-- 顶部tab -->
	<div th:replace="commons/toptab::toptab"></div>
	<!-- 顶部标题 -->
	<div class="bgf5 clearfix">
		<div class="top-user">
			<div class="inner">
				<a class="logo" href="#" th:href="@{/index}"><img src="images/icons/logo.jpg" th:src="@{/images/icons/logo.jpg}" alt="U袋网" class="cover"></a>
				<div class="title">个人中心</div>
			</div>
		</div>
	</div>
	<div class="content clearfix bgf5">
		<section class="user-center inner clearfix">
			<div class="pull-right">
				<div class="user-content__box clearfix bgf">
					<div class="title">账户信息-个人资料</div>
					<form action="" th:action="@{/user/toSetUser}" class="user-setting__form" method="post">
						<input type="hidden" name="_method" value="put" th:if="${user!=null}"/>
						<input type="hidden" name="id" th:if="${user!=null}" th:value="${user.id}">
						<input type="hidden" name="username" th:if="${user!=null}" th:value="${user.username}">
						<div class="user-form-group">
							<label >新密码：</label>
							<input type="text" name="password"  placeholder="请输入您的新密码" th:value="${user!=null}?${user.password}">
						</div>
						<div class="user-form-group">
							<label >新手机号：</label>
							<input type="text"  name="phone" placeholder="请输入您的新手机号" th:value="${user!=null}?${user.phone}">
						</div>
						<div class="user-form-group">
							<button type="submit" class="btn">确认修改</button>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
	<!-- 右侧菜单 -->
	<div th:replace="commons/rightdown::rightdown"></div>
	<!-- 底部信息 -->
	<div th:replace="commons/downfooter::downfooter"></div>
</body>
</html>